<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="admin/base">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">All Message</h3>
            </div>

            <form action="/dashboard/emails/" method="get">
                <input type="text" name="filter" />
                <input type="submit">
            </form>




            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Client Name</th>
                        <th>Client Email</th>
                        <th>Company Name</th>
                        <th>Title</th>
                        <th>Body</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="email : ${emails}">
                        <td th:text="${email.clientName}"></td>
                        <td th:text="${email.fromEmail}"></td>
                        <td th:text="${email.companyName}"></td>
                        <td th:text="${email.subject}"></td>
                        <td th:text="${email.body}"></td>
                        <td> <a th:attr="data-email='' + ${email.fromEmail} + ''"  class="btn btn-success reply-msg">Reply</a>

                            <a th:href="@{'/dashboard/email/delete/' + ${email.id}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="emailModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Reply</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/dashboard/send-message" method="post">
                            <input type="text" name="subject" placeholder="Enter subject" />
                            <textarea name="body" placeholder="Enter message"></textarea>
                            <input type="hidden" name="toEmail" id="toEmail" />
                            <input type="submit"  />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>