<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="admin/base"

>
<head>
    <meta charset="UTF-8">
    <title>Managing System</title>
</head>
<body>

    <div layout:fragment="content">
        <h1 th:text="${message}"></h1>
    </div>

<script src="js/vendor/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $.ajax({
            url: "user/isLogged",
            method: "GET",
            success: function(data){
                if(data == false){
                    window.location.href = "/";
                }
            }
        });
    });
</script>

</body>


</html>